export(erptest,erpfatest,gbtest,erpFtest,erpavetest,emfa,ifa,isqrtfa,nbfactors,erpplot)
importFrom(stats,qnorm,pf,p.adjust,var,pchisq,ksmooth,qt,quantile,acf)
importFrom(mnormt,biv.nt.prob,rmt)
importFrom(corpcor,fast.svd)
importFrom(irlba,irlba)
importFrom(graphics,abline,plot,text,lines,matplot,polygon)
importFrom(grDevices,gray.colors)
importFrom(fdrtool,pval.estimate.eta0)
importFrom(splines,bs)
importFrom(pacman,p_load)